.modal {
  position: fixed;
  z-index: 1000;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.3); /* ✅ เพิ่มโปร่งใสพื้นหลัง */
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.modal.show {
  opacity: 1;
  pointer-events: auto;
}

.modal-content-wrapper {
  display: flex;
  border-radius: 30px;
  width: 900px;
  height: 600px;
  overflow: hidden;
  position: relative;
  background-color: #fff; /* ✅ ใส่สีขาวเฉพาะกล่อง */
  animation: fadeInUp 0.3s ease forwards;
}


/* ปุ่มปิด */
.close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 26px;
  font-weight: bold;
  color: #333;
  cursor: pointer;
  z-index: 10;
}

/* แบ่งสองฝั่ง */
.modal-content.side {
  flex: 1;
  padding: 40px;
  text-align: center;
}

/* ฝั่งซ้าย (Login) */
.modal-content.left {
  background-color: #ffffff;
}

/* ฝั่งขวา (Sign Up) */
.modal-content.right {
  background-color: #ffffff;
}

/* input & button */
input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #ffffff;
  border-radius: 5px;
}
button {
  width: 100%;
  background-color: #552b0e48;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  background-color: #4435031e;
}

/* animation */
@keyframes fadeInUp {
  from { transform: translateY(40px); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}
